<script setup lang="ts">
import { mdiCheckCircle } from '@mdi/js';
</script>
<template>
    <v-sheet
    elevation="12"
    max-width="600"
    rounded="lg"
    width="100%"
    class="pa-4 text-center mx-auto"
  >
    <v-icon
      class="mb-5"
      color="success"
      :icon="mdiCheckCircle"
      size="112"
    ></v-icon>

    <h2 class="text-h5 mb-6">คุณได้ชำระเงินเรียบร้อยแล้ว</h2>

    <p class="mb-4 text-medium-emphasis text-body-2">
      ไม่สามารถคืนเงินหรือสินค้าได้
      <br>
      ขอบคุณที่ใช้บริการ!
    </p>

    <v-divider class="mb-4"></v-divider>

    <div class="text-end">
      <v-btn
        class="text-none"
        color="success"
        rounded
        variant="flat"
        width="90"
        to="/home"
      >
        ตกลง
      </v-btn>
    </div>
  </v-sheet>
</template>