<script lang="ts"></script>
<template>
    <h1>MADI CINEMA</h1>
</template>
  
  <script>
    // ส่วนสคริปต์ของเทมเพลต Vue.js
  </script>
  
  <style scoped>
    /* สไตล์ CSS สำหรับเทมเพลต Vue.js */
  </style>
  