<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img
                        src="https://i.redd.it/new-poster-of-ultraman-decker-finale-journey-to-beyond-v0-xj2c4bmv592a1.jpg?auto=webp&s=0644d03c4b71fbaddb0421723bf68039a234a24d"
                        height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>อุลตร้าแมนเดกเกอร์ การเดินทางสู่อนาคต</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        06 June 2023
                                        <div>
                                            อุลตร้าแมนเดกเกอร์ การเดินทางสู่อนาคต
                                        </div>
                                        <v-chip class="ma-2">แอ็คชัน</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">ชีวิต</v-chip>
                                        <v-chip class="ma-2">วิทยาศาสตร์</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"84 นาที"
                                        </div>
                                       <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    It is in this new age when "Sphere," an invading swarm of mysterious floating space
                                    objects, begin to attack Earth. Humanity loses contact with space and becomes a lone
                                    star. Their attack throws our hero Kanata Asumi's peaceful life into chaos. Destruction
                                    spreads before his eyes and a giant monster appears. With no heed for his own safety,
                                    Kanata jumps in front of the enemy and transforms into Ultraman Decker.


                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/HV332w_1yZE" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                </v-col>
            </v-row>
        </v-container>
</v-card></template>

<style scoped></style>