<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import {useTicketStore} from '../stores/ticket'
const useTicket = useTicketStore()
</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img
                        src="https://preview.redd.it/5340uy7qfyr81.jpg?auto=webp&s=73a6ea145845f7ccb3a074dbb81158a86cc08fdf"
                        height="400" class="text-sm-left"></v-img>
                    <v-container>
                        <row>
                            <v-col>
                                <h2>Spider man: across the spider-verse</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        31 May 2023
                                        <div>
                                            Spider man: across the spider-verse
                                        </div>
                                        <v-chip class="ma-2">อนิเมชั่น</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">แอ็คชัน</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"140 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m4time" @click="useTicket.ticketName('Spider-man: across the spider-verse'), useTicket.ticketDate('WED 31 MAY')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    Miles Morales catapults across the Multiverse, where he encounters a team of
                                    Spider-People charged
                                    with
                                    protecting its very existence. When the heroes clash on how to handle a new threat,
                                    Miles must
                                    redefine what it
                                    means to be a hero.
                                </div>
                            </v-col>
                        </row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/cqGjhVJWtEg" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Directors</h2>
                                <v-avatar
                                    image="https://image.tmdb.org/t/p/w300_and_h450_bestv2/zkLabHFhfW0oJQ22vquFbSaLsWp.jpg"
                                    size="60"></v-avatar>
                                Joaquim Dos Santos
                                <v-avatar
                                    image="https://mx.web.img2.acsta.net/c_310_420/pictures/20/12/22/20/39/2886919.jpg"
                                    size="60"></v-avatar>
                                Kemp Powers
                                <v-avatar
                                    image="https://m.media-amazon.com/images/M/MV5BOWQ4ZDhjNDEtYzNjZi00OTNkLWFjNzQtZWQyZDcxYmI4ZDQwXkEyXkFqcGdeQXVyOTk3NzgyNTE@._V1_FMjpg_UX1000_.jpg"
                                    size="60"></v-avatar>
                                Justin K. Thompson
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>