<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img src="https://image.tmdb.org/t/p/w500/1pZv85I5O1FmhKylQtDHMjUXKry.jpg" height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>เดอะ ลอร์ด ออฟ เดอะ ริงส์ : ศึกหอคอยคู่กู้พิภพ</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        06 July 2023
                                        <div>
                                            เดอะ ลอร์ด ออฟ เดอะ ริงส์ : ศึกหอคอยคู่กู้พิภพ
                                        </div>
                                        <v-chip class="ma-2">แอ็คชัน</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">ชีวิต</v-chip>
                                        <v-chip class="ma-2">แฟนตาซี</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"179 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the
                                    divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of
                                    Isengard.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/g8F-wKb4SdQ" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar image="https://m.media-amazon.com/images/M/MV5BMTY1MzQ3NjA2OV5BMl5BanBnXkFtZTcwNTExOTA5OA@@._V1_.jpg"
                                    size="60"></v-avatar>
                                    Peter Jackson
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped></style>