<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img src="https://images.workpointtoday.com/workpointnews/2023/05/30140112/1685430069_56464_LMM_Character_Arial_TH-s.jpg" height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>The Little Mermaid</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        25 May 2023
                                        <div>
                                            The Little Mermaid
                                        </div>
                                        <v-chip class="ma-2">แฟนตาซี</v-chip>
                                        <v-chip class="ma-2">เพลง</v-chip>
                                        <v-chip class="ma-2">โรแมนติก</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"135 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    A young mermaid makes a deal with a sea witch to trade her beautiful voice for human
                                    legs so she can discover the world above water and impress a prince.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/0-wPm99PF9U" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://img.fullhdfilmizlesene.pw/photo/yonetmen/nm0551128_rob-marshall/im/1.jpg"
                                    size="60"></v-avatar>
                                    Rob Marshall
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped></style>