<script setup lang="ts">
import { ref, defineComponent } from 'vue';
import { } from 'vuetify/iconsets/mdi';
import { mdiChevronUp, mdiChevronDown, mdiClockTimeFiveOutline, mdiTagOutline, mdiSurroundSound } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()

const show1 = ref(false);
const show2 = ref(false);
const show3 = ref(false);
const show4 = ref(false);
const show5 = ref(false);
const show6 = ref(false);
const show7 = ref(false);
const show8 = ref(false);

const props = defineProps<{
  name: string
  img: string
  title: string
  direct: string
  detail: string
}>()
const movieList = [
  {
    name: 'Transformer: The last knight',
    img: "https://i.pinimg.com/originals/d7/4e/6f/d74e6f1027b7bc4b0141eacf263bcfac.jpg",
    title: "Transformer: The last knight",
    direct: "directed by Micheal Bay",
    detail: "หนังสนุกมาก"
  },

  {
    name: 'The super mario bros. movie',
    img: "https://dx35vtwkllhj9.cloudfront.net/universalstudios/super-mario-bros/images/regions/us/onesheet.jpg",
    title: "The super mario bros. movie",
    direct: "directed by Aaron Horvath and Michael Jelenic",
    detail: "เรื่องนี้ตลกมาก"
  }
]
const tab = ref(null)

</script>


<template>
  <v-table>
    <v-tabs bg-color="deep-darken-4" center-active v-model="tab" align-tabs="center">
      <v-tab value="present" color="amber">
        <h1>กำลังฉาย</h1>
      </v-tab>
      <v-tab value="future" color="amber">
        <h1>โปรแกรมหน้า</h1>
      </v-tab>
    </v-tabs>

    
    <v-window v-model="tab">
      <v-window-item value="present">
        <v-table>
          <tbody>
            <tr>
              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://media.webmagazine24.it/wp-content/uploads/2023/06/09151259/Transformers-rise-of-the-beats-e1686316432150-865x1024.jpg"
                        height="400" cover></v-img>
                      <v-card-title>
                        Transformers: rise of the beasts
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Steven Caple Jr.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn color="orange-lighten-2" variant="text" to="/m1time"
                          @click="useTicket.ticketName('Transformers: rise of the beasts'), useTicket.ticketDate('WED 07 JUN')">
                          Ticket
                        </v-btn>
                        <v-btn variant="text" to="/m1detail"
                          @click="useTicket.ticketName('Transformers: rise of the beasts')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>แอ็คชัน/ผจญภัย/วิทยาศาสตร์
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>126 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>


                  </v-col>
                </v-row>
              </td>

              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">
                      <v-img
                        src="https://dx35vtwkllhj9.cloudfront.net/universalstudios/super-mario-bros/images/regions/us/onesheet.jpg"
                        height="400" cover></v-img>

                      <v-card-title>
                        The Super Mario Bros. Movie
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Aaron Horvath and Michael Jelenic
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn color="orange-lighten-2" variant="text" to="/m2time"
                          @click="useTicket.ticketName('The Super Mario Bros. Movie'), useTicket.ticketDate('WED 05 APR')">
                          Ticket
                        </v-btn>
                        <v-btn variant="text" to="/m2detail" @click="useTicket.ticketName('The Super Mario Bros. Movie')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show2 ? mdiChevronUp : mdiChevronDown" @click="show2 = !show2"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show2">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>อนิเมชั่น/ผจญภัย/ตลก
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>120 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon>EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>

              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">
                      <v-img src="https://www.cinema.com.my/images/movies/2011/7doraemon201000_450.jpg" height="400"
                        cover></v-img>

                      <v-card-title>
                        Doraemon Movie: Nobita's Mermaid Legend
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Kôzô Kusuba
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn color="orange-lighten-2" variant="text" to="/m3time"
                          @click="useTicket.ticketName('Doraemon Movie: Nobitas Mermaid Legend'), useTicket.ticketDate('FRI 28 JUL')">
                          Ticket
                        </v-btn>
                        <v-btn variant="text" to="/m3detail"
                          @click="useTicket.ticketName('Doraemon Movie: Nobitas Mermaid Legend')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show3 ? mdiChevronUp : mdiChevronDown" @click="show3 = !show3"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show3">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>อนิเมชั่น/ผจญภัย/ตลก
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>120 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon>EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>
            </tr>

            <tr>
              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">
                      <v-img
                        src="https://preview.redd.it/5340uy7qfyr81.jpg?auto=webp&s=73a6ea145845f7ccb3a074dbb81158a86cc08fdf"
                        height="400" cover></v-img>

                      <v-card-title>
                        Spider-man: across the spider-verse
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Joaquim Dos Santos, Kemp Powers and Justin K. Thompson
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn color="orange-lighten-2" variant="text" to="/m4time"
                          @click="useTicket.ticketName('Spider-man: across the spider-verse'), useTicket.ticketDate('WED 31 MAY')">
                          Ticket
                        </v-btn>
                        <v-btn variant="text" to="/m4detail"
                          @click="useTicket.ticketName('Spider-man: across the spider-verse')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show4 ? mdiChevronUp : mdiChevronDown" @click="show4 = !show4"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show4">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>อนิเมชั่น/ผจญภัย/แอ็คชัน
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>140 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon>EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>

              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">
                      <v-img
                        src="http://www.cinemaonett.com/wp-content/uploads/Movies/The-Flash-Movie-Poster-01.jpeg-403x598.webp"
                        height="400" cover></v-img>

                      <v-card-title>
                        The Flash (2023)
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Andy Muschietti
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn color="orange-lighten-2" variant="text" to="/m5time"
                          @click="useTicket.ticketName('The Flash (2023)'), useTicket.ticketDate('THU 15 JUN')">
                          Ticket
                        </v-btn>
                        <v-btn variant="text" to="/m5detail" @click="useTicket.ticketName('The Flash (2023)')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show5 ? mdiChevronUp : mdiChevronDown" @click="show5 = !show5"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show5">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>แอ็คชัน/ผจญภัย/แฟนตาซี
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>144 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon>EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>
            </tr>
          </tbody>
        </v-table>
        
<!-- โปรแกรมหน้า -->

      </v-window-item>
      <v-window v-model="tab"></v-window>
      <v-window-item value="future">
        <v-table>
          <tbody>
                <tr>
                  <td>
                <v-row>
                  <v-col class="ma-3">
                    <h1>July</h1>
                  </v-col>
                </v-row>
              </td>
              </tr>
              <tr>
              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://i.redd.it/new-poster-of-ultraman-decker-finale-journey-to-beyond-v0-xj2c4bmv592a1.jpg?auto=webp&s=0644d03c4b71fbaddb0421723bf68039a234a24d"
                        height="400" cover></v-img>
                      <v-card-title>
                        อุลตร้าแมนเดกเกอร์ การเดินทางสู่อนาคต
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Masayoshi Takezue.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m6detail"
                          @click="useTicket.ticketName('อุลตร้าแมนเดกเกอร์ การเดินทางสู่อนาคต')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>แอ็คชัน/ผจญภัย/วิทยาศาสตร์/ชีวิต
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>84 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>

              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://images.workpointtoday.com/workpointnews/2023/05/30140112/1685430069_56464_LMM_Character_Arial_TH-s.jpg"
                        height="400" cover></v-img>
                      <v-card-title>
                        The Little Mermaid
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Robert Doyle Marshall Jr.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m7detail" @click="useTicket.ticketName('The Little Mermaid')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>ผจญภัย, ครอบครัว, แฟนตาซี, มิวสิคัล,
                              โรแมนติก
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>135 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>

              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://www.newdvdreleasedates.com/images/movies/guardians-of-the-galaxy-vol.-3-2023.jpg"
                        height="400" cover></v-img>
                      <v-card-title>
                        Guardians of the Galaxy Vol. 3
                      </v-card-title>

                      <v-card-subtitle>
                        directed by James Francis Gunn Jr.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m8detail"
                          @click="useTicket.ticketName('Guardians of the Galaxy Vol. 3')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>แอ็คชัน/ผจญภัย/ตลก
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>150 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>
            </tr>
            <tr>
                  <td>
                <v-row>
                  <v-col class="ma-3">
                    <h1>August</h1>
                  </v-col>
                </v-row>
              </td>
              </tr>
            <tr>
              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://lh3.googleusercontent.com/G29u6AsfQpO9VsvAW1qd2FUC0rO1EJ4vvjlhekfw_owBUM29oqNEu8ek1BsdZ-iAXR4RSTDkJ8gifcY6IXjf=w260"
                        height="400" cover></v-img>
                      <v-card-title>
                        โดราเอมอน เดอะมูฟวี่ : โนบิตะสำรวจดินแดนจันทรา
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Shinosuke Yakuwa.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m9detail"
                          @click="useTicket.ticketName('Guardians of the Galaxy Vol. 3')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>ผจญภัย / แอนิเมชั่น
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>111 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>
            
              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://d32qys9a6wm9no.cloudfront.net/images/movies/poster/2b/1d14981ef3b7a51062af9284d2779c70_original.jpg?t=1653944208"
                        height="400" cover></v-img>
                      <v-card-title>
                        ELEMENTAL : เมืองอลวนธาตุอลเวง
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Peter Sohn, Leah Lewis.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m10detail"
                          @click="useTicket.ticketName('Guardians of the Galaxy Vol. 3')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>ผจญภัย / แอนิเมชั่น / คอมมาดี้
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>110 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>
            
              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://mlpnk72yciwc.i.optimole.com/cqhiHLc.IIZS~2ef73/w:600/h:900/q:75/https://bleedingcool.com/wp-content/uploads/2022/12/Suzume_Main-KV_2x3.jpg"
                        height="400" cover></v-img>
                      <v-card-title>
                        Suzume : การผนึกประตูของซุซุเมะ
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Makoto Shinkai.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m11detail"
                          @click="useTicket.ticketName('Guardians of the Galaxy Vol. 3')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>แอนิเมชั่น / แฟนตาซี
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>120 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>
            </tr>
            <tr>
                  <td>
                <v-row>
                  <v-col class="ma-3">
                    <h1>September</h1>
                  </v-col>
                </v-row>
              </td>
              </tr>
            <tr>
              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://image.tmdb.org/t/p/w500/1pZv85I5O1FmhKylQtDHMjUXKry.jpg"
                        height="400" cover></v-img>
                      <v-card-title>
                        เดอะ ลอร์ด ออฟ เดอะ ริงส์ : ศึกหอคอยคู่กู้พิภพ
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Makoto Shinkai.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m12detail"
                          @click="useTicket.ticketName('Guardians of the Galaxy Vol. 3')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>แฟนตาซี / ผจญภัย 
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>179 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>
 
              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://lh3.googleusercontent.com/H7S4HBmGrqekJ-V0LHLcAlqLsKRhEdM6pAXF5khlunV5DmLywqivgWyEf9JGUfsUAE17RgXeFDoYVvyCnwuDQ6oiJSdYJ-J6yA=s0"
                        height="400" cover></v-img>
                      <v-card-title>
                        รูบี้ สาวน้อยอสูรทะเล
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Kirk DeMicco, Faryn Pearl.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m13detail"
                          @click="useTicket.ticketName('Guardians of the Galaxy Vol. 3')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>แอคชั่น / ผจญภัย / อนิเมชั่น
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>90 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>

              <td>
                <v-row>
                  <v-col>
                    <v-card class="ma-4" max-width="270">

                      <v-img
                        src="https://lh3.googleusercontent.com/SXSS09c4AEm_8Z6DOEXi_OwGJyQ64PdJbt-tq92es5EET4Dz65XxbjoG6nurinu57Q9gWppK8E7nS6-2NvUxWIAF9JH5KzW2U4o=w280"
                        height="400" cover></v-img>
                      <v-card-title>
                        โดราเอมอน ตอน สงครามอวกาศจิ๋วของโนบิตะ
                      </v-card-title>

                      <v-card-subtitle>
                        directed by Shinosuke Yakuwa.
                      </v-card-subtitle>

                      <v-card-actions>
                        <v-btn variant="text" to="/m14detail"
                          @click="useTicket.ticketName('Guardians of the Galaxy Vol. 3')">
                          More Details
                        </v-btn>
                        <v-spacer></v-spacer>

                        <v-btn :icon="show1 ? mdiChevronUp : mdiChevronDown" @click="show1 = !show1"></v-btn>
                      </v-card-actions>

                      <v-expand-transition>
                        <div v-show="show1">
                          <v-divider></v-divider>

                          <v-card-text>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiTagOutline"></v-icon>แอคชั่น / ผจญภัย / อนิเมชั่น
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>110 นาที
                            </div>
                            <div class="mdcm-logo" style="display: flex;">
                              <v-icon :icon="mdiSurroundSound"></v-icon> EN/SUBTITLE
                            </div>
                          </v-card-text>
                        </div>
                      </v-expand-transition>
                    </v-card>
                  </v-col>
                </v-row>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-window-item>
      
    </v-window>
  </v-table>
</template>

<style scoped>

tbody, tr {
    display:block;
    max-height:100%;
    overflow-y:hidden;
    table-layout: fixed;
}
thead, tbody {
    display:table;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

.box .box-img img:hover {
  transform: translateY(-10px); 
  transition: 0.2s all linear;
}
</style>