<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img src="https://lh3.googleusercontent.com/H7S4HBmGrqekJ-V0LHLcAlqLsKRhEdM6pAXF5khlunV5DmLywqivgWyEf9JGUfsUAE17RgXeFDoYVvyCnwuDQ6oiJSdYJ-J6yA=s0" height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>รูบี้ สาวน้อยอสูรทะเล</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        29 June 2023
                                        <div>
                                            รูบี้ สาวน้อยอสูรทะเล
                                        </div>
                                        <v-chip class="ma-2">แอนิเมชัน</v-chip>
                                        <v-chip class="ma-2">ตลก</v-chip>
                                        <v-chip class="ma-2">แฟนตาซี</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"90 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    A shy adolescent learns that she comes from a fabled royal family of legendary sea
                                    krakens and that her destiny lies in the depths of the waters, which is bigger than she
                                    could have ever imagined.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/7qs2A-vC5y0" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://m.media-amazon.com/images/M/MV5BMTkzODE4OTg4Ml5BMl5BanBnXkFtZTcwODkwNjExOQ@@._V1_UY1200_CR594,0,630,1200_AL_.jpg"
                                    size="60"></v-avatar>
                                Kirk DeMicco
                                <v-avatar
                                    image="https://m.media-amazon.com/images/M/MV5BZDcxMzBlN2UtMjIwYy00MDJhLTk5OGYtOTQ0NzNjMzkwZjg0XkEyXkFqcGdeQXVyMTY1MzEyNjYw._V1_.jpg"
                                    size="60"></v-avatar>
                                Faryn Pearl
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped></style>